.register-page {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  .form-group {
    background-color: #477998;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
    width: 320px;
    display: flex;
    flex-direction: column;
    padding: 15px 10px;

    .form-label {
      display: flex;
      flex-direction: column;
      color: #fff;
      margin-bottom: 7px;

      .label-input {
        border: none;
        height: 40px;
        border-radius: 0;
        font-size: 13px;
        outline: none;
        padding: 10px 5px;
      }
    }

    .register-button, .login-button {
      border: none;
      height: 40px;
      border-radius: 0;
      font-size: 13px;
      outline: none;
      margin-top: 9px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: .1s linear;
      animation: anim linear .2s;

      @keyframes anim {
        0% {
          height: 0;
        }
        100% {
          height: 40px;
        }
      }
    }
  }
}