@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

body {
  * {
    box-sizing: border-box;
    font-family: "Open Sans", "sans-serif";
    color: #494949;
  }
}